body{
  background: #F9D854; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#F9D854 16%, #FEFEDA 45%); /* For Safari */
  background: -o-linear-gradient(#F9D854 16%, #FEFEDA 45%); /* For Opera */
  background: -moz-linear-gradient(#F9D854 16%, #FEFEDA 45%); /* For Firefox */
  background: linear-gradient(#F9D854 16%, #FEFEDA 45%); /* Standard */ 
}
footer{
  position: absolute;
  width: 100%;
  display:inline-block;
  bottom: 0;
}
.footer-wrapper{
  text-align: center;
  background-color: rgba(0,0,0.4);
  padding: 10px 20px;
}
