main{
  font-family: 'Freckle Face', cursive;
  font-weight: bold;
  color: #6e64f9;
}
.message, .topic{
  display: inline-block;
}
.topic{
  font-size:70px;
}
.message{
  font-size:40px;
  animation-duration: 2s;
  animation-name: blink;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
@keyframes blink {
    0% {opacity: 1;}
    25% {opacity: 0.9;}
    50% {opacity: 0.7;}
    75% {opacity: 0.5;}
    100% {opacity: 0.4;}
}
.topic-wrapper, .start-wrapper, .option-wrapper{
  display: inline-block;
  width:98%;
  text-align:center;
}
.topic-wrapper{
  padding: 25vh 1%;
}
.start-wrapper{
  padding: 10vh 1%;
}
.option-wrapper{
  display: none;
  padding: 0 1%;
}
.option{
  font-size: 30px;
  margin: 10px 0;
}
