.topic{
  font-size:70px;
}
.message{
  font-size:40px;
}
.topic-wrapper{
  padding: 30vh 1%;
}
.start-wrapper{
  padding: 15vh 1%;
}
.topic-wrapper, .start-wrapper{
  display: inline-block;
  width:98%;
  text-align:center;
}
.message, .topic{
  display: inline-block;
}
main{
  font-family: 'Freckle Face', cursive;
  font-weight: bold;
  color: #6e64f9;
}